{% extends "base.html" %}
		{% block content %}
			<div id = "addBook">
				<form action="" method="POST" >
					<p>ISBN:{{ISBN}}</p>
					<P>Title:{{Title}}</P>
					<label for="iAuthorName">Author Name:</label>
					<input type="text" value="{{AuthorName}}" name="AuthorName" id="iAuthorName"/>
					<label for="iPublisher">Publisher:</label>
					<input type="text" value="{{Publisher}}" name="Publisher" id="iPublisher"/>	
					<label>Publish Date:</label>
                    {%if not author_exist or error_list%}
                    <p style="color: blue;">Please choose the publish date again.</p>
                    {%endif%}
				    <label for="iyear">year:</label>
				    <select name="year" id="iyear">
				    {% for year_item in year_list%}
				    {%if forloop.first%}
				      <option value="{{year_item}}" selected="selected">
				    {%else%}
				      <option value="{{year_item}}">
				    {%endif%}  
				    {{year_item}}</option>
				    {%endfor%}
				    </select>

				    <select name="month" id="imonth">
				    {% for month_item in month_list%}
				    {%if forloop.first%}
				      <option value="{{month_item}}" selected="selected">
				    {%else%}
				      <option value="{{month_item}}">
				    {%endif%}  
				    {{month_item}}</option>
				    {%endfor%}
				    </select>

				    <select name="day" id="iday">
				    {% for day_item in day_list%}
				    {%if forloop.first%}
				      <option value="{{day_item}}" selected="selected">
				    {%else%}
				      <option value="{{day_item}}">
				    {%endif%}  
				    {{day_item}}</option>
				    {%endfor%}
				    </select>

					<label for="iPrice">Price:</label>
					<input type="text" value="{{Price}}" name="Price" id="iPrice"/>
					{%if not error_list%}
						{%if not author_exist%}
						<p>The author doesn't exist,please complete the information.</p>
						<label for="iAuthorAge">Author Age:</label>
						<input type="text" value="" name="AuthorAge" id="iAuthorAge"/>
						<label for="iAuthorCountry">Author Country:</label>
						<input type="text" value="" name="AuthorCountry" id="iAuthorCountry"/>
						{%endif%}					
					
					{%else%}
						{%for error in error_list%}
                    	<p>{{error}}</p>
						{%endfor%}
						{%if not author_exist%}
						<label for="iAuthorAge">Author Age:</label>
						<input type="text" value="" name="AuthorAge" id="iAuthorAge"/>
						<label for="iAuthorCountry">Author Country:</label>
						<input type="text" value="" name="AuthorCountry" id="iAuthorCountry"/>
						{%endif%}
					{%endif%}
                    <input type="submit" value="Update" name="submitBtn" />
				</form>
			</div>
		{%endblock%}